*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

body{
    background-color: #bdb8ad;
}

/*_____________________________________________________________________________________*/

#contenedor{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    margin: 0px auto;
}
P{
    text-align: center;
    width: 300px;
    height: 100px;
}
/*_____________________________________________________________________________________*/

header{
    width: 100%;
    background-color:#35978f;
}

header h1{
    text-align:center;
    margin: 10px 0;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img.banner{
    width: 100%;
    vertical-align: bottom;
}
img.RICOH{
    width: 100%;
    vertical-align: bottom;
}

/*_____________________________________________________________________________________*/

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:#35978f;
}

nav ul{
    list-style: none;/*Elimina los puntos de la lista*/
    display: flex; /*Hace que los ítems se muestren en linea*/
    justify-content: space-around;/*Distribuye los ítems de manera uniforme*/
    padding: 5px;
}

nav li{
    margin: 0%;/*Elimina margen predeterminado de los ítems*/
}

nav a{
    text-decoration: none;/*Elimina la decoración de los enlaces*/
    display: inline-block;/*Mantiene a los elementos a dentro del bloque nav*/
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    width: 100%;/*El bloa de la etiqueta <a> ocupe el 100% del ancho, esto logra que el efecto hover de cambiar el backgound sea completo*/
}

nav a:hover {
    background-color: #11ff80;
    color: black;
}

.has-submenu:hover .submenu{
    display: block;/* Muestra el submenú al hacer hover sobre el ítem principal*/
}

.submenu{
    display: none;
    position: absolute;/*Al hacer hover en el menú principal despliega verticalmente el submenú sin afectar el bloque nav*/
    background-color:#44749d;
}

.submenu a{
    font-size: 13.5px;/*Para igualar ancho de submenu*/
}

.nav20{
    width: 20%;
}

.nav50{
    width: 60%;
}

/*_____________________________________________________________________________________*/

#izquierda{
    width: 15%;
    background-color:#e0d9cf;
}

#izquierda h3{
    margin: 10px;
    color: #000000;
}

#izquierda a{
    display: block;
    margin: 5px 0 0 20px;
    text-decoration: none;
    background-color: #dae0e0;
    color: rgb(1, 1, 1);
    box-shadow: 0 0  30px rgb(27, 228, 208);
}

#izquierda a:hover{
    color: rgb(253, 0, 0);
}

#izquierda ul{
    list-style: none;
    /*border: 1px solid  #bdb8ad;*/
    width: 90%;
    margin: 5px auto;
    background-color: #dae0e0;
    color: rgb(1, 1, 1);
    box-shadow: 0 0  30px rgb(27, 228, 208);
}

#izquierda ul:hover{
    background-color: #dae0e0;
    color: #000000;
    box-shadow: 0 0  30px rgb(27, 228, 208);
}

#izquierda ul li{
    margin: 7px 0 0 20px;
    font-style: oblique;
}


/*_____________________________________________________________________________________*/

section{
    width: 60%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0  30px rgb(27, 228, 208);
}

section figure{
    border: 1px solid #bdb8ad;
    margin: 30px;
    padding: 20px;
}

section figure img{
    
}

section figure figcaption{
    text-align: center;
    color: #44749d;
}

/*_____________________________________________________________________________________*/
#derecha{
    width: 25%;
    background-color:#bcdfdb;
    box-shadow: 0 0  30px rgb(27, 228, 208);
}

#derecha a{
    display: block;
    margin: 30px auto;
    border: 1px solid #bdb8ad;
    width: 85%;
}

#derecha a img{
    width: 100%;
    vertical-align: bottom;/*Elimina espacio inferior*/
    box-shadow: 0 0  30px rgb(27, 228, 208);
}

#derecha audio{
    margin: 50px auto;
    width: 85%;
    display: block;
    box-shadow: 0 0  30px rgb(27, 228, 208);
    
}




/*_____________________________________________________________________________________*/

footer{
    width: 100%;
    background-color: #27aba0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer33{
    width: 33.33%;
}

.footer33 ul{
    font-size: small;
    list-style: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-left: 10px;
}

footer div a{
    display: inline-block;
    float: right;
    margin: 6px 5px;
}
footer img{
    width: 100%;
    vertical-align: bottom;
}

footer p{
    color: rgb(0, 0, 0);
    margin-top: 7px;
    text-align: center;
    font-size: small;
    font-weight: 700;
}

.video_wsp video{
    width: 200px; /* Ajusta el ancho al 50% del contenedor */
    height: 400px; /* Mantén la proporción del video */
 /* Tamaño máximo del video */
}